@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('table.css');
@import url('sidebar.css');
@import url('modal.css');

/* -----------------Config. gerais --------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #e3e9e7;
    display: flex;
}

main{
    width: 100%;
    padding: 24px;
    background-color: #F2F7F9;
}

h2{
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;
}

/* -----------------Caminho da página --------------- */
.page-path-and-img{
    display: flex;
    align-items: center;
}

.page-path-and-img img{
    width: 80px;
}

.page-path {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background-color: #f3f4f6;
    padding: .2rem .9rem;
    border-radius: 0.2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.7rem;
    width: fit-content;
}

.page-path a {
    text-decoration: none;
    color: #3b82f6;
    transition: color 0.2s ease-in-out;
}

.page-path a:hover {
    color: #1d4ed8;
}

.page-path .separator {
    color: #3b82f6;
}

.page-path .active {
    color: #1f2937;
    font-weight: bold;
}

.page-path .icon {
    color: #3b82f6;
}


.search-and-add{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top:15px;
}

.search-and-add__input{
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    padding: 5px 10px;
    width: 200px;
    font-size: 12px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-and-add__input:focus{
    outline: none;
    box-shadow: 0 0 0 1px #7D7D7D;
}

.search-and-add__link{
    text-decoration: none;
    font-size: 10px;
    color: white;
    background-color: #4f46e5;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
