@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('table.css');
@import url('sidebar.css');
@import url('modal.css');

/* -----------------Config. gerais --------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #e3e9e7;
    display: flex;
}

main{
    width: 100%;
    padding: 30px 24px;
    background-color: #F2F7F9;
    margin-left: 310px;
}

h2{
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;
}

/* -----------------Caminho da página --------------- */
.page-path-and-img{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.page-path-and-img img{
    width: 80px;
}

.page-path {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background-color: #f3f4f6;
    padding: .2rem .9rem;
    border-radius: 0.2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.7rem;
    width: fit-content;
}

.page-path a {
    text-decoration: none;
    color: #3b82f6;
    transition: color 0.2s ease-in-out;
    font-weight: bold;
}
.page-path a:hover {
    color: #1d4ed8;
}

.page-path .separator {
    color: #3b82f6;
}

.page-path .active {
    color: #1f2937;
    cursor: default;
}

.page-path .active:hover {
    color: #1f2937;
}

.page-path .icon {
    color: #3b82f6;
}

.add-link{
    text-decoration: none;
    font-size: 10px;
    color: white;
    background-color: #4f46e5;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Classes ultilitarias */
.row {
    display: flex;
    flex-direction: row;
    gap: .7rem;
}

.col-6 {
    width: 50%!important;
}

.col-12 {
    width: 100%!important;
}

.col-4 {
    width: 33.33%!important;
}

.col-3 {
    width: 25%!important;
}

.w-content{
    width: fit-content!important;
}

/* -----------------Card --------------- */
.card-form {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    height: fit-content;
}

.card-form__title{
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

/* ----------------- Chat whatsapp --------------- */
.form-group__chat {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    max-width: 100%;
    min-width: 100%;
    max-height: 110px;
    min-height: 110px;
    background-image: url("../../public/images/background-whats.jpg");
    background-position: center;
    transition: border-color 0.2s;
    font-size: .9rem;
    font-weight: 500;
}
.form-group__chat:focus {
    outline: none;
    border-color: #25d366;
}

.chat-whats{
    background-color: #166534;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

#containerChat {
    height: 0;
    transition: height 0.5s;
    overflow: hidden;
}

#containerChat .form-group {
    margin-top: 15px;
    margin-bottom:0
}

.chat-whats--open {
    height: 194px!important;
}

/* -----------------Form cliente --------------- */
.card__bolhas{
    background-color: #F1F0F5;
    margin-top: 20px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    padding: 25px;
}

.container-bolhas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 85%;
}

.bolhas {
    width: 60px;
    height: 60px;
    background-color: #FFB54D;
    position: absolute;
    border-radius: 60%;
}

.bolha1 {
    top: 20%;
    left: 20%;

}

.bolha2 {
    top: 42%;
    left: -12%;
}

.bolha3 {
    top: 42%;
    left: 52%;
}

.bolha4 {
    top:70%;
    left: 4%;
}

.bolha5 {
    top: 70%;
    left: 35%;
}

.about-client {
    text-align: center;
}

.about-client h4{
    margin-top: 25px;
    font-weight: bold;
    color: rgb(133 77 14);
}

.about-client ul{
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
}

.about-client p{
    font-weight: bold;
    font-size: 14px;
}
